@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	font-style: italic;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-indent: 0;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* Preface */
[epub|type~="preface"] footer{
	margin-top: 1em;
	text-align: right;
}
/* End Preface */

/* Verse */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* End verse */

/* Letters */
[epub|type~="z3998:letter"] header{
	margin-bottom: .5em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 1em;
}

[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}
/* End letters */

/* Book specific */
/* Dedication extras */
section[epub|type~="dedication"] b{
	text-transform: uppercase;
}

section[epub|type~="dedication"] > p:first-child{
	margin-bottom: 1em;
}

section[epub|type~="dedication"] > p:last-child{
	text-align: justify;
}
/* End dedication extras */

/* Letter extras */
[epub|type~="se:letter.dateline"]{
	font-variant: small-caps;
}

[epub|type~="z3998:letter"] [epub|type~="z3998:place"],
[epub|type~="se:letter.dateline"] time{
	font-variant: normal;
}
/* End letter extras */
/* End book specific */
